# 01. Let's import necessary libraries

In [1]:
import os
import shutil
import warnings
warnings.filterwarnings("ignore")
warnings.filterwarnings("ignore", category=DeprecationWarning) 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt;
import psutil

import sys
import pyemu
import flopy
import swatp_pst
assert "dependencies" in flopy.__file__
assert "dependencies" in pyemu.__file__
assert "dependencies" in swatp_pst.__file__

In [2]:
swatp_pst.__version__

'0.1.1.dev0'

# 00. provide infos

In [3]:
#working directory for mac
prj_dir = "//Users/seonggyu.park/Documents/projects"
swatp_wd = "/Users/seonggyu.park/Documents/projects/TxtInOut"

In [4]:
# working directory for win
# prj_dir = "D:\\jj\\opt_2nd"
# swatp_wd = "D:\\spark\\jj\\TxtInOut_Imsil_rye_rot_r2"

In [5]:
# calibration period
cal_start = '1/1/2000'
cal_end = '12/31/2001'
# time step
time_step = 'month'
# locations (what our targets)
chs = [106]
grids = [26989]
obd_file = "stf_mon.obd.csv"
obd_colnam = "cha106"
mfObdFile = "gwl_day.obd.csv"
mfObdColnam = "gwl26989"

# 01. inital setup

In [6]:
from swatp_pst import handler

In [7]:
# copy all necessary files (exes) to your working direcotry
handler.init_setup(prj_dir, swatp_wd)

failed to create 'main_opt' folder, folder already exists ...
path to main_opt folder: //Users/seonggyu.park/Documents/projects/main_opt

In [8]:
# create swatp_con file
handler.create_swatp_pst_con(
    prj_dir, swatp_wd, cal_start, cal_end, chs, grids, time_step=time_step)

       names                                              vals
0    prj_dir          //Users/seonggyu.park/Documents/projects
1   swatp_wd  /Users/seonggyu.park/Documents/projects/TxtInOut
2  cal_start                                          1/1/2000
3    cal_end                                        12/31/2001
4        chs                                             [106]
5      grids                                           [26989]
6    irr_cal                                              None
7  time_step                                             month

In [9]:
os.getcwd()

'/Users/seonggyu.park/Documents/projects/main_opt'

In [10]:
wd = os.getcwd()

### Let's do initial run!

In [11]:
# you need to run the model first if outputs do not exit.
# pyemu.os_utils.run(r"swatplus.exe", cwd=".")

# 02. Build template files

In [12]:
from swatp_pst.pst_utils import PstUtil

In [13]:
m1 = PstUtil(os.path.join(prj_dir, "main_opt"))

In [14]:
m1.cal_to_tpl_file()

,0,1,2,3,4,5,6,7,8,9,10,11
0,,,,,,,,,,,,
cn2,cn2,pctchg,~ cn2 ~,0,0,0,0,0,0,0,0,0
petco,petco,pctchg,~ petco ~,0,0,0,0,0,0,0,0,0
latq_co,latq_co,pctchg,~ latq_co ~,0,0,0,0,0,0,0,0,0
alpha,alpha,pctchg,~ alpha ~,0,0,0,0,0,0,0,0,0
epco,epco,pctchg,~ epco ~,0,0,0,0,0,0,0,0,0
awc,awc,pctchg,~ awc ~,0,0,0,0,0,0,0,0,0
esco,esco,pctchg,~ esco ~,0,0,0,0,0,0,0,0,0
perco,perco,pctchg,~ perco ~,0,0,0,0,0,0,0,0,0
cn3_swf,cn3_swf,pctchg,~ cn3_swf ~,0,0,0,0,0,0,0,0,0
canmx,canmx,pctchg,~ canmx ~,0,0,0,0,0,0,0,0,0
lat_len,lat_len,pctchg,~ lat_len ~,0,0,0,0,0,0,0,0,0
revap_co,revap_co,pctchg,~ revap_co ~,0,0,0,0,0,0,0,0,0
surlag,surlag,pctchg,~ surlag ~,0,0,0,0,0,0,0,0,0

In [15]:
m1.gw_input_to_tpl()

  Finished ...

# 03. Build instruction files

In [16]:
# extract output first
# m1 = SWATpOut(wd)
m1.extract_mon_stf(chs, cal_start, cal_end)

stf_106.txt file has been created...
Finished ...

In [35]:
m1.stf_obd_to_ins?

Signature:
m1.stf_obd_to_ins(
    cha_extract_file,
    obd_file,
    col_name,
    cal_start,
    cal_end,
    time_step=None,
)
Docstring:
extract a simulated streamflow from the output.rch file,
    store it in each channel file.

Args:
    - rch_file (`str`): the path and name of the existing output file
    - channels (`list`): channel number in a list, e.g. [9, 60]
    - start_day ('str'): simulation start day after warmup period, e.g. '1/1/1993'
    - end_day ('str'): simulation end day e.g. '12/31/2000'
    - time_step (`str`): day, month, year

Example:
    pest_utils.extract_month_stf('path', [9, 60], '1/1/1993', '12/31/2000')
File:      ~/Documents/projects/tools/swatp_pst_wf/dependencies/swatp_pst/swatp_pst/pst_utils.py
Type:      method

In [37]:
m1.stf_obd_to_ins('stf_106.txt', obd_file, obd_colnam, cal_start, cal_end)

stf_106.txt.ins file has been created...

date
2000-01-31    l1 w !cha106_20000131!
2000-02-29    l1 w !cha106_20000229!
2000-03-31    l1 w !cha106_20000331!
2000-04-30    l1 w !cha106_20000430!
2000-05-31    l1 w !cha106_20000531!
2000-06-30    l1 w !cha106_20000630!
2000-07-31    l1 w !cha106_20000731!
2000-08-31    l1 w !cha106_20000831!
2000-09-30    l1 w !cha106_20000930!
2000-10-31    l1 w !cha106_20001031!
2000-11-30    l1 w !cha106_20001130!
2000-12-31    l1 w !cha106_20001231!
2001-01-31    l1 w !cha106_20010131!
2001-02-28    l1 w !cha106_20010228!
2001-03-31    l1 w !cha106_20010331!
2001-04-30    l1 w !cha106_20010430!
2001-05-31    l1 w !cha106_20010531!
2001-06-30    l1 w !cha106_20010630!
2001-07-31    l1 w !cha106_20010731!
2001-08-31    l1 w !cha106_20010831!
2001-09-30    l1 w !cha106_20010930!
2001-10-31    l1 w !cha106_20011031!
2001-11-30    l1 w !cha106_20011130!
2001-12-31    l1 w !cha106_20011231!
Name: cha106_ins, dtype: object

In [38]:

m1.mf_obd_to_ins("gwl_26989.txt", mfObdColnam, cal_start, cal_end)

gType is waterlevel
gwl gwl_day.obd.csv
gwl_26989.txt.ins file has been created...

date
2000-01-01    l1 w !gwl26989_20000101!
2000-01-02    l1 w !gwl26989_20000102!
2000-01-03    l1 w !gwl26989_20000103!
2000-01-04    l1 w !gwl26989_20000104!
2000-01-05    l1 w !gwl26989_20000105!
                        ...
2001-12-27    l1 w !gwl26989_20011227!
2001-12-28    l1 w !gwl26989_20011228!
2001-12-29    l1 w !gwl26989_20011229!
2001-12-30    l1 w !gwl26989_20011230!
2001-12-31    l1 w !gwl26989_20011231!
Name: gwl26989_ins, Length: 731, dtype: object

# 04. Create PEST control file

In [39]:
os.getcwd()

'/Users/seonggyu.park/Documents/projects/main_opt'

In [40]:
io_files = pyemu.helpers.parse_dir_for_io_files('.')
pst = pyemu.Pst.from_io_files(*io_files)

In [41]:
par = pst.parameter_data
par

,parnme,partrans,parchglim,parval1,parlbnd,parubnd,pargp,scale,offset,dercom
alpha,alpha,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
awc,awc,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
canmx,canmx,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
cn2,cn2,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
cn3_swf,cn3_swf,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...
sy043,sy043,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
sy044,sy044,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
sy045,sy045,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
sy046,sy046,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
sy047,sy047,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1

In [42]:
obd = pst.observation_data
obd

                              obsnme   obsval  weight  obgnme
cha106_20000131      cha106_20000131    1.048     1.0  obgnme
cha106_20000229      cha106_20000229    2.040     1.0  obgnme
cha106_20000331      cha106_20000331    1.665     1.0  obgnme
cha106_20000430      cha106_20000430    1.332     1.0  obgnme
cha106_20000531      cha106_20000531    1.220     1.0  obgnme
...                              ...      ...     ...     ...
gwl26989_20011227  gwl26989_20011227  111.648     1.0  obgnme
gwl26989_20011228  gwl26989_20011228  111.648     1.0  obgnme
gwl26989_20011229  gwl26989_20011229  111.647     1.0  obgnme
gwl26989_20011230  gwl26989_20011230  111.646     1.0  obgnme
gwl26989_20011231  gwl26989_20011231  111.646     1.0  obgnme

[755 rows x 4 columns]

## 05.02 Adjust initial parameter values and their ranges

In [43]:
par = pst.parameter_data

In [44]:
par

,parnme,partrans,parchglim,parval1,parlbnd,parubnd,pargp,scale,offset,dercom
alpha,alpha,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
awc,awc,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
canmx,canmx,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
cn2,cn2,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
cn3_swf,cn3_swf,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...
sy043,sy043,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
sy044,sy044,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
sy045,sy045,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
sy046,sy046,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
sy047,sy047,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1

## 05.03 Assign parameter group name

In [45]:
# set observation group
obd = pst.observation_data
obd

                              obsnme   obsval  weight  obgnme
cha106_20000131      cha106_20000131    1.048     1.0  obgnme
cha106_20000229      cha106_20000229    2.040     1.0  obgnme
cha106_20000331      cha106_20000331    1.665     1.0  obgnme
cha106_20000430      cha106_20000430    1.332     1.0  obgnme
cha106_20000531      cha106_20000531    1.220     1.0  obgnme
...                              ...      ...     ...     ...
gwl26989_20011227  gwl26989_20011227  111.648     1.0  obgnme
gwl26989_20011228  gwl26989_20011228  111.648     1.0  obgnme
gwl26989_20011229  gwl26989_20011229  111.647     1.0  obgnme
gwl26989_20011230  gwl26989_20011230  111.646     1.0  obgnme
gwl26989_20011231  gwl26989_20011231  111.646     1.0  obgnme

[755 rows x 4 columns]

In [46]:
# Change obd group name
for i in range(len(obd)):
    obd.iloc[i, 3] = obd.iloc[i, 0][:-9]
obd

                              obsnme   obsval  weight    obgnme
cha106_20000131      cha106_20000131    1.048     1.0    cha106
cha106_20000229      cha106_20000229    2.040     1.0    cha106
cha106_20000331      cha106_20000331    1.665     1.0    cha106
cha106_20000430      cha106_20000430    1.332     1.0    cha106
cha106_20000531      cha106_20000531    1.220     1.0    cha106
...                              ...      ...     ...       ...
gwl26989_20011227  gwl26989_20011227  111.648     1.0  gwl26989
gwl26989_20011228  gwl26989_20011228  111.648     1.0  gwl26989
gwl26989_20011229  gwl26989_20011229  111.647     1.0  gwl26989
gwl26989_20011230  gwl26989_20011230  111.646     1.0  gwl26989
gwl26989_20011231  gwl26989_20011231  111.646     1.0  gwl26989

[755 rows x 4 columns]

## 05.04 Provide actual observed values to control file

In [47]:
os.getcwd()

'/Users/seonggyu.park/Documents/projects/main_opt'

In [48]:
# Streamflow
stf_obd = pd.read_csv(obd_file,
                       index_col = 0,
                       parse_dates = True,
                       na_values=[-999, '']
                     )
stf_obd = stf_obd[cal_start: cal_end]
stf_obd

            cha106
date
2000-01-31  1.0480
2000-02-29  2.0400
2000-03-31  1.6650
2000-04-30  1.3320
2000-05-31  1.2200
2000-06-30  4.3590
2000-07-31  0.6927
2000-08-31  0.7532
2000-09-30  0.6030
2000-10-31  1.0320
2000-11-30  0.9321
2000-12-31  2.9110
2001-01-31  3.5500
2001-02-28  2.1170
2001-03-31  1.5560
2001-04-30  1.0790
2001-05-31  1.1300
2001-06-30  0.5802
2001-07-31  0.3671
2001-08-31  0.2230
2001-09-30  0.9007
2001-10-31  0.5002
2001-11-30  0.7224
2001-12-31  0.3187

In [49]:
# groundwater level
gwl_obd = pd.read_csv(mfObdFile,
                       index_col = 0,
                       parse_dates = True,
                       na_values=[-999, '']
                     )
gwl_obd = gwl_obd[cal_start: cal_end]
gwl_obd

,gwl11453,gwl14099,gwl19054,gwl23110,gwl23553,gwl26989,gwl27309
date,,,,,,,
2000-01-01,311.750,66.330,667.750,46.500,59.770,123.398,16.835
2000-01-02,311.750,66.330,667.750,46.500,60.008,123.323,17.069
2000-01-03,311.751,66.330,667.750,46.500,60.220,123.271,17.307
2000-01-04,311.751,66.330,667.750,46.500,60.408,123.237,17.528
2000-01-05,311.751,66.330,667.750,46.500,60.576,123.217,17.728
...,...,...,...,...,...,...,...
2001-12-27,314.752,67.155,668.104,46.628,62.617,111.648,19.682
2001-12-28,314.752,67.156,668.104,46.628,62.617,111.648,19.682
2001-12-29,314.752,67.156,668.104,46.629,62.617,111.647,19.682
2001-12-30,314.752,67.157,668.104,46.629,62.617,111.646,19.682
2001-12-31,314.752,67.158,668.105,46.629,62.617,111.646,19.682

In [50]:
# Get sub list based on obd order
obd_order = []
for i in obd.obgnme.tolist():
    if i not in obd_order:
        obd_order.append(i)
obd_order

['cha106', 'gwl26989']

In [51]:
tot_obd = []

In [52]:
# get total list from each sub obd, delete na vals
tot_obd = []
for i in obd_order[:1]:
    tot_obd += stf_obd[i].dropna().tolist()
    print(i)
for i in obd_order[1:]:
    tot_obd += gwl_obd[i].dropna().tolist()
    print(i)
len(tot_obd)

cha106
gwl26989

755

In [53]:
tot_obd

[1.048,
 2.04,
 1.665,
 1.332,
 1.22,
 4.359,
 0.6927,
 0.7532,
 0.603,
 1.032,
 0.9321,
 2.911,
 3.55,
 2.117,
 1.556,
 1.079,
 1.13,
 0.5802,
 0.3671,
 0.223,
 0.9007,
 0.5002,
 0.7224,
 0.3187,
 123.398,
 123.323,
 123.271,
 123.237,
 123.217,
 123.207,
 123.206,
 123.21,
 123.218,
 123.228,
 123.24,
 123.252,
 123.262,
 123.265,
 123.262,
 123.252,
 123.236,
 123.214,
 123.186,
 123.152,
 123.113,
 123.07,
 123.022,
 122.969,
 122.913,
 122.854,
 122.791,
 122.726,
 122.658,
 122.587,
 122.515,
 122.44,
 122.363,
 122.284,
 122.203,
 122.12,
 122.036,
 121.951,
 121.864,
 121.776,
 121.687,
 121.597,
 121.506,
 121.415,
 121.324,
 121.231,
 121.139,
 121.046,
 120.953,
 120.86,
 120.767,
 120.674,
 120.582,
 120.489,
 120.397,
 120.306,
 120.215,
 120.124,
 120.034,
 119.945,
 119.856,
 119.768,
 119.68,
 119.593,
 119.507,
 119.421,
 119.336,
 119.251,
 119.167,
 119.084,
 119.001,
 118.919,
 118.838,
 118.757,
 118.676,
 118.598,
 118.521,
 118.445,
 118.372,
 118.3,
 118.229,
 118.16,
 118.093,
 118.027,
 117.961,
 117.898,
 117.835,
 117.774,
 117.713,
 117.654,
 117.596,
 117.538,
 117.482,
 117.426,
 117.372,
 117.318,
 117.265,
 117.212,
 117.161,
 117.11,
 117.06,
 117.011,
 116.962,
 116.914,
 116.867,
 116.82,
 116.774,
 116.729,
 116.684,
 116.64,
 116.596,
 116.552,
 116.51,
 116.468,
 116.426,
 116.385,
 116.344,
 116.303,
 116.264,
 116.224,
 116.185,
 116.147,
 116.108,
 116.071,
 116.033,
 115.996,
 115.96,
 115.923,
 115.888,
 115.852,
 115.817,
 115.782,
 115.747,
 115.713,
 115.679,
 115.646,
 115.613,
 115.579,
 115.547,
 115.514,
 115.482,
 115.45,
 115.418,
 115.387,
 115.356,
 115.325,
 115.294,
 115.263,
 115.233,
 115.202,
 115.172,
 115.142,
 115.112,
 115.083,
 115.053,
 115.024,
 114.995,
 114.966,
 114.937,
 114.908,
 114.879,
 114.851,
 114.822,
 114.794,
 114.766,
 114.738,
 114.71,
 114.682,
 114.654,
 114.626,
 114.598,
 114.571,
 114.543,
 114.516,
 114.489,
 114.462,
 114.435,
 114.408,
 114.381,
 114.354,
 114.328,
 114.301,
 114.274,
 114.247,
 114.221,
 114.194,
 114.167,
 114.141,
 114.114,
 114.087,
 114.061,
 114.035,
 114.009,
 113.984,
 113.959,
 113.934,
 113.91,
 113.886,
 113.863,
 113.84,
 113.817,
 113.794,
 113.772,
 113.75,
 113.728,
 113.707,
 113.686,
 113.665,
 113.645,
 113.624,
 113.604,
 113.585,
 113.565,
 113.546,
 113.527,
 113.508,
 113.49,
 113.471,
 113.454,
 113.436,
 113.418,
 113.401,
 113.384,
 113.367,
 113.35,
 113.334,
 113.318,
 113.302,
 113.286,
 113.27,
 113.255,
 113.239,
 113.224,
 113.209,
 113.195,
 113.18,
 113.166,
 113.152,
 113.138,
 113.124,
 113.11,
 113.097,
 113.083,
 113.07,
 113.057,
 113.045,
 113.032,
 113.02,
 113.007,
 112.995,
 112.983,
 112.971,
 112.96,
 112.948,
 112.937,
 112.925,
 112.914,
 112.903,
 112.892,
 112.881,
 112.871,
 112.86,
 112.85,
 112.84,
 112.829,
 112.819,
 112.809,
 112.8,
 112.79,
 112.78,
 112.771,
 112.762,
 112.752,
 112.743,
 112.734,
 112.725,
 112.716,
 112.708,
 112.699,
 112.69,
 112.682,
 112.674,
 112.665,
 112.657,
 112.649,
 112.641,
 112.633,
 112.625,
 112.618,
 112.61,
 112.602,
 112.595,
 112.587,
 112.58,
 112.573,
 112.566,
 112.559,
 112.551,
 112.545,
 112.538,
 112.531,
 112.524,
 112.517,
 112.511,
 112.504,
 112.498,
 112.491,
 112.485,
 112.478,
 112.472,
 112.466,
 112.46,
 112.454,
 112.448,
 112.442,
 112.436,
 112.43,
 112.424,
 112.418,
 112.413,
 112.407,
 112.401,
 112.396,
 112.39,
 112.385,
 112.379,
 112.374,
 112.369,
 112.364,
 112.358,
 112.353,
 112.348,
 112.343,
 112.338,
 112.333,
 112.328,
 112.323,
 112.318,
 112.313,
 112.309,
 112.304,
 112.299,
 112.295,
 112.29,
 112.285,
 112.281,
 112.276,
 112.272,
 112.267,
 112.263,
 112.259,
 112.254,
 112.25,
 112.246,
 112.241,
 112.237,
 112.233,
 112.23,
 112.226,
 112.222,
 112.219,
 112.216,
 112.212,
 112.209,
 112.206,
 112.202,
 112.199,
 112.196,
 112.193,
 112.189,
 112.186,
 112.183,
 112.18,
 112.177,
 112.174,
 112.17,
 112.167,
 112.164,
 112.161,
 112.158,
 112.156,
 112.153,
 112.151,
 112.148,
 112.146,
 112.143,
 112.141,
 112.138,
 112.136,
 112.134,
 112.131,
 112.129,
 112.127,
 112.125,
 112.122,
 112.12,
 112.118,
 112.115,
 112.113,
 112.111,
 112.109,
 112.107,
 112.104,
 112.102,
 112.1,
 112.098,
 112.096,
 112.094,
 112.092,
 112.089,
 112.087,
 112.085,
 112.083,
 112.082,
 112.08,
 112.078,
 112.076,
 112.074,
 112.072,
 112.07,
 112.068,
 112.066,
 112.065,
 112.063,
 112.061,
 112.059,
 112.058,
 112.056,
 112.054,
 112.052,
 112.051,
 112.049,
 112.047,
 112.046,
 112.044,
 112.042,
 112.041,
 112.039,
 112.038,
 112.036,
 112.034,
 112.033,
 112.031,
 112.03,
 112.028,
 112.026,
 112.025,
 112.023,
 112.022,
 112.02,
 112.019,
 112.017,
 112.016,
 112.014,
 112.013,
 112.011,
 112.01,
 112.008,
 112.007,
 112.005,
 112.004,
 112.002,
 112.001,
 111.999,
 111.998,
 111.997,
 111.995,
 111.994,
 111.992,
 111.991,
 111.989,
 111.988,
 111.987,
 111.985,
 111.984,
 111.983,
 111.981,
 111.98,
 111.978,
 111.977,
 111.976,
 111.974,
 111.973,
 111.972,
 111.97,
 111.969,
 111.968,
 111.966,
 111.965,
 111.964,
 111.962,
 111.961,
 111.96,
 111.959,
 111.957,
 111.956,
 111.955,
 111.953,
 111.952,
 111.951,
 111.949,
 111.948,
 111.947,
 111.945,
 111.944,
 111.943,
 111.942,
 111.94,
 111.939,
 111.938,
 111.936,
 111.935,
 111.934,
 111.932,
 111.931,
 111.93,
 111.928,
 111.927,
 111.925,
 111.924,
 111.922,
 111.921,
 111.919,
 111.918,
 111.916,
 111.915,
 111.913,
 111.912,
 111.91,
 111.909,
 111.907,
 111.905,
 111.904,
 111.902,
 111.901,
 111.899,
 111.898,
 111.896,
 111.894,
 111.893,
 111.891,
 111.889,
 111.887,
 111.886,
 111.884,
 111.882,
 111.88,
 111.878,
 111.876,
 111.875,
 111.873,
 111.871,
 111.869,
 111.867,
 111.865,
 111.863,
 111.861,
 111.86,
 111.858,
 111.856,
 111.854,
 111.852,
 111.85,
 111.848,
 111.846,
 111.844,
 111.842,
 111.84,
 111.838,
 111.836,
 111.834,
 111.832,
 111.83,
 111.828,
 111.826,
 111.824,
 111.822,
 111.82,
 111.818,
 111.816,
 111.814,
 111.812,
 111.81,
 111.808,
 111.806,
 111.804,
 111.802,
 111.8,
 111.798,
 111.796,
 111.794,
 111.792,
 111.79,
 111.788,
 111.786,
 111.785,
 111.783,
 111.781,
 111.779,
 111.777,
 111.775,
 111.773,
 111.771,
 111.769,
 111.767,
 111.765,
 111.763,
 111.761,
 111.76,
 111.758,
 111.756,
 111.754,
 111.752,
 111.75,
 111.748,
 111.747,
 111.745,
 111.743,
 111.741,
 111.739,
 111.738,
 111.736,
 111.734,
 111.732,
 111.731,
 111.729,
 111.727,
 111.726,
 111.724,
 111.723,
 111.721,
 111.72,
 111.718,
 111.717,
 111.716,
 111.715,
 111.714,
 111.713,
 111.711,
 111.71,
 111.71,
 111.709,
 111.708,
 111.707,
 111.706,
 111.705,
 111.704,
 111.703,
 111.702,
 111.701,
 111.701,
 111.7,
 111.699,
 111.698,
 111.697,
 111.696,
 111.696,
 111.695,
 111.694,
 111.694,
 111.693,
 111.692,
 111.691,
 111.691,
 111.69,
 111.689,
 111.689,
 111.688,
 111.687,
 111.687,
 111.686,
 111.685,
 111.685,
 111.684,
 111.683,
 111.683,
 111.682,
 111.681,
 111.681,
 111.68,
 111.679,
 111.679,
 111.678,
 111.677,
 111.677,
 111.676,
 111.675,
 111.675,
 111.674,
 111.673,
 111.673,
 111.672,
 111.671,
 111.671,
 111.67,
 111.669,
 111.669,
 111.668,
 111.667,
 111.667,
 111.666,
 111.665,
 111.665,
 111.664,
 111.663,
 111.663,
 111.662,
 111.661,
 111.661,
 111.66,
 111.659,
 111.659,
 111.658,
 111.657,
 111.657,
 111.656,
 111.655,
 111.655,
 111.654,
 111.653,
 111.652,
 111.652,
 111.651,
 111.65,
 111.65,
 111.649,
 111.648,
 111.648,
 111.647,
 111.646,
 111.646]

In [54]:
obd.loc[:, 'obsval'] = tot_obd
obd

                              obsnme   obsval  weight    obgnme
cha106_20000131      cha106_20000131    1.048     1.0    cha106
cha106_20000229      cha106_20000229    2.040     1.0    cha106
cha106_20000331      cha106_20000331    1.665     1.0    cha106
cha106_20000430      cha106_20000430    1.332     1.0    cha106
cha106_20000531      cha106_20000531    1.220     1.0    cha106
...                              ...      ...     ...       ...
gwl26989_20011227  gwl26989_20011227  111.648     1.0  gwl26989
gwl26989_20011228  gwl26989_20011228  111.648     1.0  gwl26989
gwl26989_20011229  gwl26989_20011229  111.647     1.0  gwl26989
gwl26989_20011230  gwl26989_20011230  111.646     1.0  gwl26989
gwl26989_20011231  gwl26989_20011231  111.646     1.0  gwl26989

[755 rows x 4 columns]

# 06. Create the control file with settings

We can inspect all control data values using the `pst.control_data.formatted_values` attribute. Values are assigned defaults if not specified. Nice.:

In [55]:
pst.control_data.formatted_values

name
rstfle                        restart
pestmode                   estimation
npar                                0
nobs                                0
npargp                              0
nprior                              0
nobsgp                              0
maxcompdim                          0
ntplfle                             0
ninsfle                             0
precis                         single
dpoint                          point
numcom                              1
jacfile                             0
messfile                            0
obsreref                   noobsreref
rlambda1                 2.000000E+01
rlamfac                 -3.000000E+00
phiratsuf                3.000000E-01
phiredlam                1.000000E-02
numlam                             -7
jacupdate                         999
lamforgive                 lamforgive
derforgive               noderforgive
relparmax                1.000000E+01
facparmax                1.000000E+01
facorig                  1.000000E-03
iboundstick                         0
upvecbend                           0
phiredswh                1.000000E-01
noptswitch                          1
splitswh                 1.100000E+00
doaui                           noaui
dosenreuse                 nosenreuse
boundscale               noboundscale
noptmax                            30
phiredstp                1.000000E-02
nphistp                             3
nphinored                           3
relparstp                1.000000E-02
nrelpar                             3
phistopthresh            0.000000E+00
lastrun                             1
phiabandon              -1.000000E+00
icov                                0
icor                                0
ieig                                0
ires                                0
jcosave                       jcosave
verboserec                 verboserec
jcosaveitn                 jcosaveitn
reisaveitn                 reisaveitn
parsaveitn                 parsaveitn
parsaverun               noparsaverun
dtype: object

In [56]:
pst.control_data.noptmax = 0 # replace 0 with "zero" and see what happens
pst.model_command = 'python forward_run.py'

- ### add new PEST++ variables like so:

In [57]:
# check the dictionary again
pst.pestpp_options

{}

In [58]:
pst.write('swatp_dummy.pst', version=2)

noptmax:0, npar_adj:201, nnz_obs:755

- ### You can also read and load the existing pest control file.

In [ ]:
# pst_read = pyemu.Pst(os.path.join(swatmf_model,"mb_zon.pst"))

In [ ]:
# epst_read.parameter_data