# 01. Let's import necessary libraries

In [1]:
import os
import shutil
import warnings
warnings.filterwarnings("ignore")
warnings.filterwarnings("ignore", category=DeprecationWarning) 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt;
import psutil

import sys
import pyemu
import swatp_pst
assert "dependencies" in pyemu.__file__
assert "dependencies" in swatp_pst.__file__

In [2]:
swatp_pst.__version__

'0.1.1.dev0'

# 00. provide infos

In [ ]:
# working directory for mac
# prj_dir = "/Users/seonggyu.park/Documents/projects/jj_test"
# swatp_wd = "/Users/seonggyu.park/Documents/projects/tools/swatp_pst_wf/models/TxtInOut_Imsil_rye_rot_r1"

In [3]:
# working directory for win
prj_dir = "D:\\spark\\Albufera\\opt01"
swatp_wd = "D:\\spark\\Albufera\\alb_base_02"

In [4]:
# calibration period
cal_start = '1/1/2016'
cal_end = '12/31/2023'
# time step
time_step = 'day'
# locations (what our targets)
chs = [49]
stf_obd_file = "cha49_observed.csv"
stf_obd_colnam = "cha049"
irr_obd_file = "irr_paddy_mon.obd.csv"
irr_obd_colnam = "obd_irr_paddy"

# 01. inital setup

In [5]:
from swatp_pst import handler

In [6]:
# copy all necessary files (exes) to your working direcotry
handler.init_setup(prj_dir, swatp_wd)

100%|███████████████████████████████████████████████| 212/212 [00:01<00:00, 125.32it/s]

 Creating 'main_opt' folder ... passed
 'forward_run.py' file copied ... passed
path to main_opt folder: D:\spark\Albufera\opt01\main_opt

In [7]:
os.getcwd()

'D:\\spark\\Albufera\\opt01\\main_opt'

In [8]:
# create swatp_con file
handler.create_swatp_pst_con(
    prj_dir, swatp_wd, cal_start, cal_end, chs,
    irr_cal=irr_obd_file,
    time_step=time_step)

       names                           vals
0    prj_dir        D:\spark\Albufera\opt01
1   swatp_wd  D:\spark\Albufera\alb_base_02
2  cal_start                       1/1/2016
3    cal_end                     12/31/2023
4        chs                           [49]
5    irr_cal                      activated
6  time_step                            day

In [9]:
os.getcwd()

'D:\\spark\\Albufera\\opt01\\main_opt'

In [10]:
wd = os.getcwd()

### Let's do initial run!

In [12]:
## you need to run the model first if outputs do not exit.
pyemu.os_utils.run(r"swatplus.exe", cwd=".")

# 02. Build template files

In [13]:
from swatp_pst.pst_utils import PstUtil

In [15]:
m1 = PstUtil(os.path.join(prj_dir, "main_opt"))

In [16]:
m1.cal_to_tpl_file()

,0,1,2,3,4,5,6,7,8,9,10,11
0,,,,,,,,,,,,
cn2,cn2,pctchg,~ cn2 ~,0,0,0,0,0,0,0,0,0
petco,petco,pctchg,~ petco ~,0,0,0,0,0,0,0,0,0
latq_co,latq_co,pctchg,~ latq_co ~,0,0,0,0,0,0,0,0,0
alpha,alpha,pctchg,~ alpha ~,0,0,0,0,0,0,0,0,0
epco,epco,pctchg,~ epco ~,0,0,0,0,0,0,0,0,0
awc,awc,pctchg,~ awc ~,0,0,0,0,0,0,0,0,0
esco,esco,pctchg,~ esco ~,0,0,0,0,0,0,0,0,0
perco,perco,pctchg,~ perco ~,0,0,0,0,0,0,0,0,0
cn3_swf,cn3_swf,pctchg,~ cn3_swf ~,0,0,0,0,0,0,0,0,0
canmx,canmx,pctchg,~ canmx ~,0,0,0,0,0,0,0,0,0
lat_len,lat_len,pctchg,~ lat_len ~,0,0,0,0,0,0,0,0,0
revap_co,revap_co,pctchg,~ revap_co ~,0,0,0,0,0,0,0,0,0
surlag,surlag,pctchg,~ surlag ~,0,0,0,0,0,0,0,0,0

# 03. Build instruction files

In [17]:
# extract output first
m1.get_mon_irr()

 > tot_irr_paddy.txt file has been created...

,hru_2,hru_4,hru_6,hru_7,hru_12,hru_14,hru_16,hru_18,hru_21,hru_24,...,hru_60,hru_62,hru_64,hru_65,hru_68,hru_69,hru_71,hru_73,hru_76,tot_irr
2016-01-31,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000000
2016-02-29,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000000
2016-03-31,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000000
2016-04-30,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000000
2016-05-31,498.798,496.534,493.884,498.969,496.586,498.100,494.655,495.379,504.681,492.486,...,478.644,487.269,477.811,485.030,478.040,461.331,477.883,492.727,504.740,488.317264
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-31,605.913,619.052,629.908,628.779,617.530,612.542,621.111,625.655,589.292,596.035,...,625.135,507.191,556.975,546.128,551.007,564.297,557.676,610.151,589.521,603.199104
2023-09-30,106.049,106.548,131.168,109.373,106.755,121.096,130.593,130.639,106.307,125.559,...,164.495,114.875,136.918,132.911,134.215,138.822,137.095,123.361,106.350,134.244545
2023-10-31,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000000
2023-11-30,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000000
2023-12-31,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000000

## 03.01 irrigation

In [18]:
m1.irr_obd_to_ins("tot_irr_paddy.txt", irr_obd_file, 'obd_irr_paddy', cal_start, cal_end)

tot_irr_paddy.txt.ins file has been created...

date
2016-01-31                               l1
2016-02-29                               l1
2016-03-31                               l1
2016-04-30                               l1
2016-05-31    l1 w !obd_irr_paddy_20160531!
                          ...
2023-08-31    l1 w !obd_irr_paddy_20230831!
2023-09-30    l1 w !obd_irr_paddy_20230930!
2023-10-31                               l1
2023-11-30                               l1
2023-12-31                               l1
Name: obd_irr_paddy_ins, Length: 96, dtype: object

## 03.02 streamflow

In [19]:
m1.extract_day_stf(chs, cal_start, cal_end)

 >>> stf_049.txt file has been created...
 > Finished ...

In [20]:
m1.stf_obd_to_ins('stf_049.txt', stf_obd_file, stf_obd_colnam, cal_start, cal_end)

stf_049.txt.ins file has been created...

2016-01-01    l1
2016-01-02    l1
2016-01-03    l1
2016-01-04    l1
2016-01-05    l1
              ..
2023-12-27    l1
2023-12-28    l1
2023-12-29    l1
2023-12-30    l1
2023-12-31    l1
Freq: D, Name: cha049_ins, Length: 2922, dtype: object

# 04. Create PEST control file

In [21]:
os.getcwd()

'D:\\spark\\Albufera\\opt01\\main_opt'

In [22]:
io_files = pyemu.helpers.parse_dir_for_io_files('.')
pst = pyemu.Pst.from_io_files(*io_files)

In [23]:
par = pst.parameter_data
par

,parnme,partrans,parchglim,parval1,parlbnd,parubnd,pargp,scale,offset,dercom
alpha,alpha,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
awc,awc,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
canmx,canmx,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
cn2,cn2,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
cn3_swf,cn3_swf,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
epco,epco,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
esco,esco,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
lat_len,lat_len,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
latq_co,latq_co,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
perco,perco,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
petco,petco,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
revap_co,revap_co,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1
surlag,surlag,log,factor,1.0,1.100000e-10,1.100000e+10,pargp,1.0,0.0,1

In [24]:
obd = pst.observation_data
obd

                                        obsnme     obsval  weight  obgnme
cha049_20170511                cha049_20170511    0.09243     1.0  obgnme
cha049_20170512                cha049_20170512    0.08630     1.0  obgnme
cha049_20170513                cha049_20170513    0.08087     1.0  obgnme
cha049_20170514                cha049_20170514    0.09273     1.0  obgnme
cha049_20170515                cha049_20170515    0.11840     1.0  obgnme
...                                        ...        ...     ...     ...
obd_irr_paddy_20230531  obd_irr_paddy_20230531  455.10878     1.0  obgnme
obd_irr_paddy_20230630  obd_irr_paddy_20230630  480.45645     1.0  obgnme
obd_irr_paddy_20230731  obd_irr_paddy_20230731  560.07879     1.0  obgnme
obd_irr_paddy_20230831  obd_irr_paddy_20230831  603.19910     1.0  obgnme
obd_irr_paddy_20230930  obd_irr_paddy_20230930  134.24454     1.0  obgnme

[167 rows x 4 columns]

## 05.02 Adjust initial parameter values and their ranges

In [25]:
# manual

## 05.03 Assign parameter group name

In [26]:
# set observation group
obd = pst.observation_data
obd

                                        obsnme     obsval  weight  obgnme
cha049_20170511                cha049_20170511    0.09243     1.0  obgnme
cha049_20170512                cha049_20170512    0.08630     1.0  obgnme
cha049_20170513                cha049_20170513    0.08087     1.0  obgnme
cha049_20170514                cha049_20170514    0.09273     1.0  obgnme
cha049_20170515                cha049_20170515    0.11840     1.0  obgnme
...                                        ...        ...     ...     ...
obd_irr_paddy_20230531  obd_irr_paddy_20230531  455.10878     1.0  obgnme
obd_irr_paddy_20230630  obd_irr_paddy_20230630  480.45645     1.0  obgnme
obd_irr_paddy_20230731  obd_irr_paddy_20230731  560.07879     1.0  obgnme
obd_irr_paddy_20230831  obd_irr_paddy_20230831  603.19910     1.0  obgnme
obd_irr_paddy_20230930  obd_irr_paddy_20230930  134.24454     1.0  obgnme

[167 rows x 4 columns]

In [27]:
# Change obd group name
for i in range(len(obd)):
    obd.iloc[i, 3] = obd.iloc[i, 0][:-9]
obd

,obsnme,obsval,weight,obgnme
cha049_20170511,cha049_20170511,0.09243,1.0,cha049
cha049_20170512,cha049_20170512,0.08630,1.0,cha049
cha049_20170513,cha049_20170513,0.08087,1.0,cha049
cha049_20170514,cha049_20170514,0.09273,1.0,cha049
cha049_20170515,cha049_20170515,0.11840,1.0,cha049
...,...,...,...,...
obd_irr_paddy_20230531,obd_irr_paddy_20230531,455.10878,1.0,obd_irr_paddy
obd_irr_paddy_20230630,obd_irr_paddy_20230630,480.45645,1.0,obd_irr_paddy
obd_irr_paddy_20230731,obd_irr_paddy_20230731,560.07879,1.0,obd_irr_paddy
obd_irr_paddy_20230831,obd_irr_paddy_20230831,603.19910,1.0,obd_irr_paddy
obd_irr_paddy_20230930,obd_irr_paddy_20230930,134.24454,1.0,obd_irr_paddy

## 05.04 Provide actual observed values to control file

In [ ]:
# let's do manually

# 06. Create the control file with settings

We can inspect all control data values using the `pst.control_data.formatted_values` attribute. Values are assigned defaults if not specified. Nice.:

In [28]:
pst.control_data.formatted_values

name
rstfle                        restart
pestmode                   estimation
npar                                0
nobs                                0
npargp                              0
nprior                              0
nobsgp                              0
maxcompdim                          0
ntplfle                             0
ninsfle                             0
precis                         single
dpoint                          point
numcom                              1
jacfile                             0
messfile                            0
obsreref                   noobsreref
rlambda1                 2.000000E+01
rlamfac                 -3.000000E+00
phiratsuf                3.000000E-01
phiredlam                1.000000E-02
numlam                             -7
jacupdate                         999
lamforgive                 lamforgive
derforgive               noderforgive
relparmax                1.000000E+01
facparmax                1.000000E+01
facorig                  1.000000E-03
iboundstick                         0
upvecbend                           0
phiredswh                1.000000E-01
noptswitch                          1
splitswh                 1.100000E+00
doaui                           noaui
dosenreuse                 nosenreuse
boundscale               noboundscale
noptmax                            30
phiredstp                1.000000E-02
nphistp                             3
nphinored                           3
relparstp                1.000000E-02
nrelpar                             3
phistopthresh            0.000000E+00
lastrun                             1
phiabandon              -1.000000E+00
icov                                0
icor                                0
ieig                                0
ires                                0
jcosave                       jcosave
verboserec                 verboserec
jcosaveitn                 jcosaveitn
reisaveitn                 reisaveitn
parsaveitn                 parsaveitn
parsaverun               noparsaverun
dtype: object

In [29]:
pst.control_data.noptmax = 0 # replace 0 with "zero" and see what happens
pst.model_command = 'python forward_run.py'

- ### add new PEST++ variables like so:

In [30]:
# check the dictionary again
pst.pestpp_options

{}

In [31]:
pst.write('alb_pst_dummy.pst', version=2)

noptmax:0, npar_adj:13, nnz_obs:167

- ### You can also read and load the existing pest control file.

In [ ]:
# pst_read = pyemu.Pst(os.path.join(swatmf_model,"mb_zon.pst"))

In [ ]:
pst_read.parameter_data